* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #6B9DD5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 160px;
    
}
    .logo{
    font-size: 30px;
    font-weight: 600;
}
.logo a{
    text-decoration: none;
    color: white;
    
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
nav ul li{
    padding: 0 12px;
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    
   
}
nav ul li a{
     text-decoration: none;
     color: white;
     font-size: 14px;
}
nav ul li a:hover{
    color: #5257C9;
    transition: 1s;
    
}
/* hero-section start */
.hero-section{
    background-color: #6B9DD5;
    padding: 60px 150px;
}
.hero-top{
    display: flex;
    justify-content: space-around;
   
}
.hero-info{
    width: 65%;
    margin-top: 30px;
    color: white;
   }
.hero-info h2{
    font-size: 44px;
}

.hero-info span{
    color: #5257C9;
}
.hero-pera{
    margin-top: 20px;
    line-height: 28px;
    font-size: 14px;
    
}
.hero-image{
    display: flex;
    align-items: flex-end;
   
}
.hero-image2, .hero-image1{
    width: 180px;
}

.download-btn,
.contact-btn{
    padding: 10px 30px;
    border-radius: 22px;
    text-transform: uppercase;
    font-weight: 500;
}
.download-btn{
    background-color: #5257C9;
    color: white;
    margin-right: 20px;
    border: none;
}
.download-btn:hover{
    background-color: white;
    color: #5257C9;
    transition: 2s;
}
.contact-btn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.contact-btn:hover{
    background-color: white;
    color: #5257C9;
    font-weight: 500;
    transition: 2s;
}
